<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>

        <testsuite name="ConfMap">
            <directory>./confmap</directory>
            <exclude>./confmap/fixtures</exclude>
        </testsuite>

        <testsuite name="PSTest">
            <directory>./pstest</directory>
            <exclude>./pstest/fixtures</exclude>
        </testsuite>

        <testsuite name="FS">
            <directory>./fs</directory>
        </testsuite>

        <testsuite name="Selenium">
            <directory>./selenium</directory>
        </testsuite>

        <testsuite name="Proc">
            <directory>./proc</directory>
        </testsuite>

        <testsuite name="Test Runner">
            <directory>./test-runner/</directory>
            <exclude>./test-runner/fixtures</exclude>
        </testsuite>

        <testsuite name="IoC">
            <directory>./ioc/</directory>
            <exclude>./ioc/fixtures</exclude>
        </testsuite>

    </testsuites>
</phpunit>
