<phpunit bootstrap="../vendor/autoload.php">
    <testsuites>

        <testsuite name="ConfMap">
            <directory>./confmap</directory>
            <exclude>./confmap/fixtures</exclude>
        </testsuite>

        <testsuite name="PSTest">
            <directory>./pstest</directory>
            <exclude>./pstest/fixtures</exclude>
        </testsuite>

        <testsuite name="FS">
            <directory>./fs</directory>
        </testsuite>

        <testsuite name="Selenium">
            <directory>./selenium</directory>
        </testsuite>

    </testsuites>
</phpunit>
